@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}   

.home { 
    font-family: "quicksand", sans-serif;
    background-image: url("../assets/img/backgroundMobile.jpg");
    background-color: rgb(36, 7, 7);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/*--------------------------------------------*/
/* REUTILIZABLE */
.titulos {
    width: 25rem;
    padding: 2vh;
    margin: auto;

    background-color: rgba(139, 139, 139, 0.425);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    text-align: center;
    letter-spacing: 5px;
    border: solid 2px black;
}


/*--------------------------------------------*/
/* HEADER */

.navColor {
    background-color: rgba(0, 0, 0);
}


.sizeLogo {
    width: 7rem;
}


/*--------------------------------------------*/
/*FOOTER*/

.instagram i:hover {
    color: #C13584
}

.facebook i:hover {
    color: #2f55a4
}

.youtube i:hover {
    color: #c4302b
}

.spotify i:hover {
    color: #1DB954
}


/*--------------------------------------------*/
/*MAIN - HOME*/

.main {
    height: 100vh;
}

.top-15 {
    top: 15% ;
  }


/*LA BANDA*/

.infoLaBanda {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.644);
    color: white;
    border-radius: 10px;
}

.imgBanda {
    width: 100%
}


/*MUSICOS*/

.musicos {
    margin: 2rem;
    padding: 5vh;
    padding-bottom: 2vh;
    background-color:  rgba(0, 0, 0, 0.644);
    color: white;
    display: inline-block;
    align-content:space-between;
    text-align: center;
    border-radius: 10px;
    border: solid 2px black;
}


/*--------------------------------------------*/
/*MAIN - CONCIERTOS*/

.concertCardColor {
    background-color: rgba(0, 0, 0, 0.462);
    color: white
}

.concertDate {
    text-align: center;
    margin-top: 5px;
}


/*--------------------------------------------*/
/*MEDIA QUERIES*/

@media screen and (min-width: 993px) {

    .home { 
        font-family: "quicksand", sans-serif;
        background-image: url("../assets/img/livingSentados_mobile.jpg");
        background-color: rgb(36, 7, 7);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
    
    .discografia {
        font-family: "quicksand", sans-serif;
        background-image: url("../assets/img/barParados_mobile.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    } 
    
    .conciertos {
        font-family: "quicksand", sans-serif;
        background-image: url("../assets/img/barSentados.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
    
    .navColor {
        background-color:  rgba(0, 0, 0, 0.468);
    } 
}