.formStyle {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(223, 222, 222, 0.8);
    color: map-get($colors, whiteColor)
}


.btnStyle {
    background-color: map-get($colors, blackColor);
    color: map-get($colors, whiteColor);
    border-color: map-get($colors, whiteColor);
    border-radius: 7px;

    &:hover {
        background-color: map-get($colors, whiteColor);
        color: map-get($colors, blackColor)
    }
}

.formA {
    text-decoration: none;
}