.main {
    height: 20vh;
}

/*LA BANDA*/
.infoLaBanda {
    padding: 20px;
    background-color: map-get($colors, cardBackgroundColor);
    color: map-get($colors, whiteColor);
    border-radius: $radius-10;
}

.imgBanda {
    width: 100%
}

/*MUSICOS*/

.imgMusicos {
    width: 15rem;
    transition: transform .2s;

    &:hover {
        transform: scale(1.1);
    }
}

h3 {
    font-size: 1.5rem;
}

/*--------------------------------------------*/
/*MEDIA QUERIES*/
@media screen and (min-width: 992px) {

    .main {
        height: 100vh;
    }
}
