.home{ 
    font-family: $fontType;
    background-image: linear-gradient(to right top, #000000da, #220a0fda, #3b0c13da, #530912da, #6b0909da), url("../assets/img/background/backgroundMobile.jpg");
    background-color: map-get($colors, bodyBackgroundColor);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;
};

/*Hago esto solo para implementar el extend*/
.conciertos {
    @extend .home
};

.discografia {
    @extend .home
};

.media {
    @extend .home
};

.contacto {
    @extend .home
};

/*-----------------------------------------------*/

.tituloPrincipal {
    @include title (23rem, 2vh, 5px)
}

.tituloSecundario {
    @include title (17rem, 2vh, 2px)
}

.cardStyle {
    margin: 2rem;
    padding: 5vh;
    padding-bottom: 2vh;
    background-color: map-get($colors, cardBackgroundColor);
    color: map-get($colors, whiteColor);
    border-radius: $radius-10;
    border: solid 2px map-get($colors, blackColor);
    /*text-align: $alignCenter;*/
}

/*-----------------------------------------------*/

@media screen and (min-width: 576px) {

    .home { 
        background-image: url("../assets/img/background/livingSentados.jpg");
    }
    
    .discografia {
        background-image: url("../assets/img/background/barParados.jpg");
    } 
    
    .conciertos {
        background-image: url("../assets/img/background/barSentados.jpg");
    }

    .media {
        background-image: url("../assets/img/background/Libro2.jpg");
    }

   .contacto {
        background-image: url("../assets/img/background/libro.jpg");
    }
}