$radius-10: 10px;
$radius-15: 15px;
$alignCenter: center;
$fontType: "quicksand", sans-serif;

$redes: (
    instagram: #C13584,
    facebook: #2f55a4,
    youtube: #c4302b,
    spotify: #1DB954
);

$colors: (
    cardBackgroundColor: rgba(0, 0, 0, 0.644),
    titleBackgroundColor: rgba(139, 139, 139, 0.425),
    navBackgroundColor: rgba(0, 0, 0, 0.468),
    bodyBackgroundColor: rgb(17, 0, 0),
    whiteColor: white,
    blackColor: black,
);